a {
  color: inherit;
}

section {
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 0 3px;
}

img {
  margin: 2px;
  border: 1px solid rgb(19, 18, 18);
  opacity: 0.9;
}

img:hover {
  border: 1px solid silver;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

img {
  min-height: 60px;
  transition: opacity 0.7s;
  opacity: 0;
}

img.ng-lazyloaded {
  opacity: 1;
}
