<ng-container *ngIf="itemMedia$ | async as itemMedia">
  <span *ngFor="let media of itemMedia">
    <img
      [lazyLoad]="
        'https://api.gbif.org/v1/image/unsafe/60x60/smart/filters:sharpen(1.0,0.4,true),format(webp)/' +
        encodeURIComponent(media.identifier)
      "
      [defaultImage]="'https://via.placeholder.com/60'"
      [errorImage]="'https://via.placeholder.com/60'"
      *ngIf="
        media.identifier && (media.format || 'image').split('/')[0] == 'image'
      "
      [title]="mediaTitle(media)"
      (click)="
        openShadowBoxDialog({
          src:
            'https://api.gbif.org/v1/image/unsafe/800x/filters:format(webp)/' +
            encodeURIComponent(media.identifier),
          title: media.description
        })
      "
      alt="..."
    />
  </span>
  <div *ngIf="loading$ | async" style="display: inline-block">
    <mat-spinner [diameter]="15"></mat-spinner>
  </div>
</ng-container>
