<form [formGroup]="form" class="form-container">
  <mat-card>
    <mat-card-content>
      <mat-form-field class="q">
        <mat-label>Search</mat-label>
        <input
          matInput
          type="text"
          formControlName="q"
          placeholder="Search..."
          aria-label="Search"
          (keyup.enter)="search(form.value)"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>In</mat-label>
        <mat-select formControlName="highertaxonKey">
          <mat-option
            *ngFor="let opt of highertaxonKeyFormOptions"
            [value]="opt.value"
            >{{ opt.option }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Habitat</mat-label>
        <mat-select formControlName="habitat">
          <mat-option
            *ngFor="let opt of habitatFormOptions"
            [value]="opt.value"
            >{{ opt.option }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Rank</mat-label>
        <mat-select formControlName="rank" multiple>
          <mat-option *ngFor="let opt of rankFormOptions" [value]="opt.value">{{
            opt.option
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Name Type</mat-label>
        <mat-select formControlName="nameType" multiple>
          <mat-option
            *ngFor="let opt of nameTypeFormOptions"
            [value]="opt.value"
            >{{ opt.option }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" multiple>
          <mat-option
            *ngFor="let opt of statusFormOptions"
            [value]="opt.value"
            >{{ opt.option }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-spinner diameter="20" *ngIf="loading$ | async"></mat-spinner>
    </mat-card-content>
  </mat-card>
</form>

<app-gbif-taxon-list
  [loading]="loading$ | async"
  [meta]="meta$ | async"
  [items]="found$ | async"
></app-gbif-taxon-list>
