.title {
  font-weight: 400;
  font-size: 100%;
  line-height: 140%;
}

.mat-dialog-content {
  max-height: 80vh;
}

// img:not(.ng-lazyloading),
img {
  min-height: 300px;
  min-width: 300px;
  // transition: opacity 0.3s;
  transition: all 0.5s ease-in;
  opacity: 0.4;
}

img.ng-lazyloaded,
img.ng-failed-lazyloaded {
  opacity: 1;
}

// .spinner {
//   animation: rotate 2s linear infinite;
//   z-index: 2;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin: -25px 0 0 -25px;
//   width: 50px;
//   height: 50px;

//   & .path {
//     stroke: hsl(210, 70, 75);
//     stroke-linecap: round;
//     animation: dash 1.5s ease-in-out infinite;
//   }
// }

// @keyframes rotate {
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes dash {
//   0% {
//     stroke-dasharray: 1, 150;
//     stroke-dashoffset: 0;
//   }
//   50% {
//     stroke-dasharray: 90, 150;
//     stroke-dashoffset: -35;
//   }
//   100% {
//     stroke-dasharray: 90, 150;
//     stroke-dashoffset: -124;
//   }
// }
