.isLeaf {
  background-color: rgba(128, 128, 128, 0.2);
}

// https://stackoverflow.com/questions/48786027/angular-material-mat-spinner-custom-color

// :host ::ng-deep .mat-progress-spinner circle,
// .mat-spinner circle {
//   stroke: #bada55;
// }

// .isNode {
//   border: 1px solid red;
// }

small {
  font-size: 60%;
  font-weight: normal;
  font-style: oblique;
  color: silver;
}

.gbif-id {
  color: gray;
}

.item-media {
  font-size: 75%;
}

.synonym {
  text-transform: uppercase;
}

.rank {
  font-size: 80%;
  margin-left: 1ex;
}

.btn-title,
.btn-title * {
  // line-height: 20px;
  vertical-align: baseline !important;
}

.mat-card-title .mat-button {
  white-space: unset;
}
