<mat-card
  *ngIf="item.key"
  [ngClass]="{
    isLeaf: item.numDescendants === 0,
    isNode: item.numDescendants > 0
  }"
>
  <mat-card-title>
    <a
      mat-button
      type="button"
      [routerLink]="['/gbif/species', item.key]"
      class="btn-title"
    >
      <span class="scientific-name">{{ item.scientificName }}</span>

      <span class="rank">{{ item.rank }}</span>
    </a>

    <small class="gbif-id">
      <a
        type="button"
        mat-button
        [href]="'https://www.gbif.org/species/' + item.key"
        target="_blank"
        title="View on gbif.org"
      >
        #{{ item.key }}
        <mat-icon
          class="mt-small-icon"
          style="font-size: 90%; vertical-align: baseline"
          >open_in_new</mat-icon
        >
      </a>
    </small>

    <button
      type="button"
      mat-button
      [routerLink]="['/gbif/species', item.acceptedKey]"
      [title]="item.accepted"
      class="synonym md-small"
      *ngIf="item.synonym"
    >
      Synonym
    </button>

    <span *ngIf="item.isExtinct">Extinct</span>

    <small
      class="count"
      *ngIf="item.numDescendants"
      [title]="
        item.numDescendants +
        ' descendant' +
        (item.numDescendants > 1 ? 's' : '')
      "
    >
      {{ item.numDescendants }}
    </small>
    <button
      mat-button
      type="button"
      (click)="toggleDisplayChildren()"
      *ngIf="item.numDescendants > 0"
      [title]="displayChildren ? 'Hide children' : 'Load children'"
    >
      <mat-icon *ngIf="displayChildren; else load">expand_more</mat-icon>
      <ng-template #load><mat-icon>chevron_right</mat-icon></ng-template>
    </button>
  </mat-card-title>

  <mat-card-subtitle class="classification" *ngIf="showClassification">
    <app-gbif-taxon-item-classification
      [item]="item"
      [parent]="this"
      [short]="false"
    ></app-gbif-taxon-item-classification>
  </mat-card-subtitle>

  <!-- <div>
    <ng-container *ngIf="item.numDescendants > 0">
      <button type="button" mat-icon-button (click)="toggleDisplayChildren()">
        <span *ngIf="displayChildren; else load">-</span>
        <ng-template #load>+</ng-template>
      </button>
      <span>{{ item.numDescendants }}</span>
    </ng-container>
  </div> -->

  <!-- <mat-card-actions> -->

  <!-- </mat-card-actions> -->

  <mat-card-content>
    <span class="item-media">
      <app-gbif-taxon-item-media [item]="item"></app-gbif-taxon-item-media>
    </span>

    <app-gbif-taxon-item-children
      [item]="item"
      *ngIf="displayChildren"
    ></app-gbif-taxon-item-children>
  </mat-card-content>
</mat-card>
