<ng-container *ngIf="taxNode$ | async as taxNode">
  <app-tax-node-list-item
    *ngIf="taxNode?.id"
    [taxNode]="taxNode"
  ></app-tax-node-list-item>

  <span class="loading" *ngIf="!taxNode">
    Loading...
    <!-- <mat-spinner diameter="20" style="margin: auto"></mat-spinner> -->
  </span>
</ng-container>
