.md-small {
  line-height: 20px;
  min-height: unset;
  // vertical-align: top;
  font-size: 90%;
  padding: 0 1ex;
  // margin: 0;
  font-weight: 400;
}

.is-item-parent {
  // color: silver;
  font-weight: 600;
}

button.is-item-current {
  text-decoration: underline;
}
