.ancestors {
  list-style: none;

  li {
    display: inline-block;
    white-space: nowrap;
    margin: 0 0.5ex;
  }
}

header {
  .scientific-name {
    font-weight: normal;
    font-style: italic;
  }
}

.rank {
  display: inline-block;
  font-size: 75%;
  background-color: gray;
  color: white;
  padding: 1px 3px;
}
