<ng-container *ngIf="taxNode">
  <header>
    <h5>
      <span class="division">{{ taxNode?.division?.name }}</span>

      <span
        *ngIf="taxNode?.parent"
        [routerLink]="['/nlm/tax/node', taxNode.parentId]"
        [title]="
          taxNode?.parent?.rank +
          ': ' +
          commonNames(taxNode?.parent?.names).concat(
            scientificNames(taxNode?.parent?.names)
          )[0]
        "
        class="pointer"
      >
        <span class="rank">{{ taxNode?.parent?.rank }}</span>
        {{
          commonNames(taxNode?.parent?.names).concat(
            scientificNames(taxNode?.parent?.names)
          )[0]
        }}
        <!-- <mat-icon>arrow_circle_up</mat-icon> -->
      </span>
    </h5>

    <h1>
      <span
        [routerLink]="['/nlm/tax/node', taxNode.id]"
        [title]="concatNames(taxNode?.names).join('\n')"
        class="pointer"
      >
        <span class="rank">{{ taxNode?.rank }}</span>
        <span class="common-name">{{ commonNames(taxNode?.names)[0] }}</span>

        <small class="scientific-name">{{
          scientificNames(taxNode?.names)[0]
        }}</small>
      </span>
    </h1>

    <h5 class="ancestors">
      <span
        *ngFor="
          let parent of filterHasCommonName(taxNode?.parentFlatAncestors)
            .slice()
            .reverse()
            .concat([taxNode?.parent])
        "
        [routerLink]="['/nlm/tax/node', parent?.id]"
        class="pointer"
      >
        <span class="rank">{{ parent?.rank }}</span>
        <span class="name" [title]="concatNames(parent?.names).join('\n')">{{
          commonNames(parent?.names)
            .concat(scientificNames(parent?.names))
            .concat(parent?.names)[0]
        }}</span>
      </span>
    </h5>
  </header>
  <main>
    <section>
      <span>Other names:</span>
      <span>
        <span *ngFor="let name of taxNode.names" [title]="name.class">
          <span>{{ name.name }}</span>
          <small
            ><i>({{ name.class }})</i></small
          >
        </span>
      </span>
    </section>
    <section *ngIf="taxNode?.comment" class="comment">
      <h5>Comments</h5>
      {{ taxNode?.comment }}
    </section>

    <hr />

    <section>
      Check it up on
      <button
        type="button"
        (click)="
          windowOpen(
            'https://pfaf.org/user/Plant.aspx?LatinName=' +
              encodeURI(trim(scientificNames(taxNode?.names)[0]))
          )
        "
        [title]="
          'https://pfaf.org/user/Plant.aspx?LatinName=' +
          encodeURI(trim(scientificNames(taxNode?.names)[0]))
        "
        class="pointer"
      >
        pfaf.org
      </button>

      <!-- https://www.gbif.org/species/search?q= -->

      <button
        type="button"
        *ngIf="
          ['species', 'subspecies', 'varietas'].includes(taxNode?.rank);
          else gbifOrgDefault
        "
        (click)="
          windowOpen(
            'https://www.gbif.org/species/search?q=' +
              encodeURI(trim(scientificNames(taxNode?.names)[0]))
          )
        "
        [title]="
          'https://www.gbif.org/species/search?q=' +
          encodeURI(trim(scientificNames(taxNode?.names)[0]))
        "
        class="pointer"
      >
        gbif.org species
      </button>

      <ng-template #gbifOrgDefault>
        <button
          type="button"
          (click)="
            windowOpen(
              'https://www.gbif.org/search?q=' +
                encodeURI(trim(scientificNames(taxNode?.names)[0]))
            )
          "
          [title]="
            'https://www.gbif.org/search?q=' +
            encodeURI(trim(scientificNames(taxNode?.names)[0]))
          "
          class="pointer"
        >
          gbif.org
        </button>
      </ng-template>

      <button
        type="button"
        *ngIf="['species', 'varietas'].includes(taxNode.rank)"
        (click)="
          windowOpen(
            'https://identify.plantnet.org/fr/the-plant-list/species?search=' +
              encodeURI(trim(scientificNames(taxNode?.names)[0]))
          )
        "
        [title]="
          'https://identify.plantnet.org/fr/the-plant-list/species?search=' +
          encodeURI(trim(scientificNames(taxNode?.names)[0]))
        "
        class="pointer"
      >
        plantnet.org species
      </button>

      <button
        type="button"
        *ngIf="['genus', 'subgenus'].includes(taxNode?.rank)"
        (click)="
          windowOpen(
            'https://identify.plantnet.org/fr/the-plant-list/genera?search=' +
              encodeURI(trim(scientificNames(taxNode?.names)[0]))
          )
        "
        [title]="
          'https://identify.plantnet.org/fr/the-plant-list/genera?search=' +
          encodeURI(trim(scientificNames(taxNode?.names)[0]))
        "
      >
        plantnet.org genus
      </button>

      <button
        type="button"
        *ngIf="['tribe', 'subtribe', 'clade'].includes(taxNode?.rank)"
        (click)="
          windowOpen(
            'https://identify.plantnet.org/fr/the-plant-list/families?search=' +
              encodeURI(trim(scientificNames(taxNode?.names)[0]))
          )
        "
        [title]="
          'https://identify.plantnet.org/fr/the-plant-list/families?search=' +
          encodeURI(trim(scientificNames(taxNode?.names)[0]))
        "
      >
        plantnet.org family
      </button>

      <!-- https://duckduckgo.com/?q=Tinnea+galpinii&t=h_&iax=images&ia=images -->

      <button
        type="button"
        (click)="
          windowOpen(
            'https://duckduckgo.com/?q=' +
              encodeURI(trim(scientificNames(taxNode?.names)[0])) +
              '&t=h_&iax=images&ia=images'
          )
        "
        [title]="
          'https://duckduckgo.com/?q=' +
          encodeURI(trim(scientificNames(taxNode?.names)[0])) +
          '&t=h_&iax=images&ia=images'
        "
      >
        images
      </button>

      <button
        type="button"
        (click)="
          windowOpen(
            'https://duckduckgo.com/?q=' +
              encodeURI(trim(scientificNames(taxNode?.names)[0])) +
              '&t=h_&iax=images&ia=images'
          )
        "
        [title]="
          'https://duckduckgo.com/?q=' +
          encodeURI(trim(scientificNames(taxNode?.names)[0])) +
          '&t=h_&iax=images&ia=images'
        "
      >
        images
      </button>
    </section>

    <hr />

    <section
      *ngIf="!taxNode?.isLeaf && taxNode?.children && taxNode?.children?.length"
    >
      <h5>Related</h5>
      <ul class="children">
        <ng-container *ngFor="let childNode of taxNode?.children">
          <li class="child">
            <span
              class="pointer"
              [routerLink]="['/nlm/tax/node', childNode.id]"
            >
              <span class="rank">{{ childNode.rank }}</span>
              <span class="name">{{
                commonNames(childNode?.names).concat(
                  scientificNames(childNode?.names)
                )[0]
              }}</span>
            </span>

            <button
              type="button"
              *ngIf="childNode.childrenLoaded === undefined; else childLoading"
              (click)="loadChild(childNode, $event)"
              [hidden]="childNode.isLeaf || childNode.childrenLoaded"
            >
              +
            </button>
            <ng-template #childLoading>
              <span *ngIf="childNode?.childrenLoaded === false">...</span>
            </ng-template>

            <button
              type="button"
              *ngIf="childNode?.childrenLoaded && childNode?.children"
              (click)="removeChildren(childNode)"
            >
              -
            </button>

            <button
              type="button"
              (click)="
                windowOpen(
                  'https://duckduckgo.com/?q=' +
                    encodeURI(trim(scientificNames(childNode?.names)[0])) +
                    '&t=h_&iax=images&ia=images'
                )
              "
              [title]="
                'https://duckduckgo.com/?q=' +
                encodeURI(trim(scientificNames(childNode?.names)[0])) +
                '&t=h_&iax=images&ia=images'
              "
            >
              images
            </button>

            <ng-container *ngIf="childNode?.children">
              <ul class="child-children">
                <li *ngFor="let childChildNode of childNode?.children">
                  <span class="rank">{{ childChildNode.rank }}</span>
                  <span
                    class="name"
                    [routerLink]="['/nlm/tax/node', childChildNode.id]"
                    class="pointer"
                    >{{
                      commonNames(childChildNode.names).concat(
                        scientificNames(childChildNode.names)
                      )[0]
                    }}</span
                  >

                  <span *ngIf="!childChildNode.isLeaf">[+]</span>

                  <button
                    type="button"
                    (click)="
                      windowOpen(
                        'https://duckduckgo.com/?q=' +
                          encodeURI(
                            trim(scientificNames(childChildNode?.names)[0])
                          ) +
                          '&t=h_&iax=images&ia=images'
                      )
                    "
                    [title]="
                      'https://duckduckgo.com/?q=' +
                      encodeURI(
                        trim(scientificNames(childChildNode?.names)[0])
                      ) +
                      '&t=h_&iax=images&ia=images'
                    "
                  >
                    images
                  </button>
                </li>
              </ul>
            </ng-container>
          </li>
        </ng-container>
      </ul>
    </section>
  </main>
  <!-- <footer>footer</footer> -->
</ng-container>
