<ng-container>
  <form [formGroup]="form" class="form-container">
    <mat-card>
      <mat-form-field class="q">
        <mat-label>Search</mat-label>
        <input
          matInput
          type="text"
          formControlName="q"
          placeholder="Search..."
          aria-label="Search"
          (keyup.enter)="findByName(form.value)"
        />
      </mat-form-field>

      <span class="loading" *ngIf="loading$ | async">
        Loading...
        <!-- <mat-spinner diameter="20" style="margin: auto"></mat-spinner> -->
      </span>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Division</mat-label>
          <mat-select formControlName="division">
            <mat-option
              *ngFor="let division of ['Any'].concat(divisionFormOptions)"
              [value]="division == 'Any' ? null : division"
              >{{ division }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card>

    <div
      *ngIf="{
        found: found$ | async,
        loading: loading$ | async
      } as obs"
    >
      <mat-card class="found-meta">
        <ng-container *ngIf="obs.found?.meta?.total">
          <!-- Showing results
        {{ math.min(obs.found.meta.offset + 1, obs.found.meta.total) }} to
        {{
          math.min(obs.found.meta.limit, obs.found.meta.total) +
            obs.found.meta.offset
        }}
        of {{ obs.found.meta.total }} -->
          Found: {{ obs.found.meta.total }}

          <br />
          <span
            class="found-meta-pages"
            *ngIf="math.ceil(obs.found.meta.total / obs.found.meta.limit) > 1"
          >
            Page
            {{ math.ceil((obs.found.meta.offset + 1) / obs.found.meta.limit) }}
            of
            {{ math.ceil(obs.found.meta.total / obs.found.meta.limit) }}
          </span>
          <!--
          <br />
          real: {{ obs.found.data.length }} -->
        </ng-container>
      </mat-card>

      <section>
        <ng-container *ngFor="let taxNode of obs.found.data; let i = index">
          <mat-card class="tax-node">
            <app-tax-node-list-item
              [taxNode]="taxNode"
            ></app-tax-node-list-item>
          </mat-card>
        </ng-container>
        <ng-container
          *ngIf="
            obs.found &&
            obs.found.meta &&
            obs.found.meta.total === 0 &&
            !obs.loading
          "
        >
          <li *ngIf="form.value.q" class="no-result">
            Search returned no results.
          </li>
        </ng-container>
      </section>
    </div>
  </form>
</ng-container>
