<header class="toolbar" role="heading">
  <mat-toolbar color="primary">
    <!-- <span [routerLink]="['/']" class="pointer">PermaCult</span> -->

    <!-- <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    ></button> -->

    <nav>
      <button
        type="button"
        mat-button
        [routerLink]="['/']"
        title="Open Permacult"
      >
        <!-- PermaCult -->
        <mat-icon>home</mat-icon>
      </button>

      <button
        type="button"
        mat-button
        [routerLink]="['/search']"
        title="Search in National Library of Medicine."
      >
        NLM
        <mat-icon>search</mat-icon>
      </button>

      <button type="button" mat-button [routerLink]="['/gbif/search']">
        Gbif
        <mat-icon>search</mat-icon>
      </button>

      <button type="button" mat-button [routerLink]="['/cult/vis-graph']">
        Graph
        <mat-icon>graph</mat-icon>
      </button>
    </nav>
  </mat-toolbar>
</header>

<main role="main">
  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>
</main>
