<section
  [ngClass]="{
    'gbif-taxon-list': true,
    loading: loading
  }"
>
  <header>
    <span *ngIf="meta && +meta.count >= 0" class="count"
      >Found: {{ meta.count }}</span
    >
  </header>
  <main>
    <ul class="items">
      <li *ngFor="let item of items" class="item">
        <app-gbif-taxon-item-child [item]="item"></app-gbif-taxon-item-child>
      </li>
    </ul>
  </main>
</section>
