<mat-card
  *ngIf="item.key"
  [ngClass]="{
    isLeaf: item.numDescendants === 0,
    isNode: item.numDescendants > 0
  }"
>
  <mat-card-title>
    <span [routerLink]="['/gbif/species', item.key]" class="pointer">
      <span>{{ item.scientificName }}</span>

      <span class="rank">{{ item.rank }}</span>
    </span>

    <small class="count" *ngIf="item.numDescendants">
      <i>Includes {{ item.numDescendants }} elements</i>
    </small>
  </mat-card-title>

  <mat-card-subtitle>
    <app-gbif-taxon-item-classification
      [item]="item"
    ></app-gbif-taxon-item-classification>

    <button
      mat-button
      type="button"
      (click)="toggleLoadChildren()"
      *ngIf="item.numDescendants > 0"
    >
      <span *ngIf="loadChildren; else load">-</span>
      <ng-template #load>+</ng-template>
    </button>

    <small>
      <app-gbif-taxon-item-media [item]="item"></app-gbif-taxon-item-media>
    </small>
  </mat-card-subtitle>

  <mat-card-content>
    <section>
      <app-gbif-taxon-item-children
        [item]="item"
        *ngIf="loadChildren"
      ></app-gbif-taxon-item-children>
    </section>
  </mat-card-content>
</mat-card>
