<ng-container *ngIf="item$ | async as item">
  <mat-card>
    <mat-card-title>
      {{ item.scientificName }}
      <small class="rank">{{ item.rank }}</small>

      <small
        [routerLink]="['/gbif/species', item.acceptedKey]"
        [title]="item.accepted"
        class="synonym pointer"
        *ngIf="item.synonym"
      >
        Synonym
      </small>

      <a
        type="button"
        mat-button
        [href]="'https://www.gbif.org/species/' + item.key"
        target="_blank"
        title="View on gbif.org"
        class="item-key"
      >
        #{{ item.key }}
      </a>

      <span *ngIf="item.isExtinct">Extinct</span>
    </mat-card-title>

    <mat-card-subtitle>
      {{ item.vernacularName }}
    </mat-card-subtitle>

    <mat-card-content>
      <div class="classification">
        <app-gbif-taxon-item-classification
          [item]="item"
        ></app-gbif-taxon-item-classification>
      </div>
    </mat-card-content>

    <mat-card-content>
      <span class="item-media">
        <app-gbif-taxon-item-media [item]="item"></app-gbif-taxon-item-media>
      </span>
    </mat-card-content>

    <mat-card-subtitle *ngIf="item.numDescendants">
      <span> Has {{ item.numDescendants }} descendants. </span>
    </mat-card-subtitle>

    <ng-container class="children" *ngIf="item.numDescendants">
      <mat-divider></mat-divider>

      <mat-card-subtitle> Children </mat-card-subtitle>

      <mat-card-content>
        <app-gbif-taxon-item-children
          [item]="item"
        ></app-gbif-taxon-item-children>
      </mat-card-content>
    </ng-container>

    <ng-container>
      <mat-divider></mat-divider>

      <mat-card-subtitle>Descriptions</mat-card-subtitle>
      <mat-card-content>
        <app-gbif-taxon-item-description
          [item]="item"
        ></app-gbif-taxon-item-description>
      </mat-card-content>
    </ng-container>
  </mat-card>
</ng-container>
