<ng-container *ngIf="children$ | async as children">
  <div *ngIf="item.numDescendants > 0; else isLeaf">
    <section mat-card-subtitle class="children-meta">
      <span
        class="counter"
        *ngIf="children.length && item.numDescendants != children.length"
      >
        Showing {{ children.length || "" }} direct children
        <span class="has-more" *ngIf="!(childrenEndOfRecords$ | async)">
          (has more)
        </span>
      </span>
    </section>

    <section
      mat-card-content
      [ngClass]="{
        'has-more': !(childrenEndOfRecords$ | async) && children.length,
        children: true
      }"
    >
      <app-gbif-taxon-item-child
        *ngFor="let child of children"
        class="child"
        [item]="child"
        [parent]="this"
        [showClassification]="false"
      ></app-gbif-taxon-item-child>

      <mat-card *ngIf="!children.length && (loading$ | async)" class="loading">
        <div mat-card-content>
          <mat-spinner [diameter]="20" class="spinner"></mat-spinner>
        </div>
      </mat-card>
    </section>

    <section
      mat-card-actions
      *ngIf="
        children.length > 10 &&
        !(childrenEndOfRecords$ | async) &&
        children.length
      "
      class="meta-actions"
    >
      <button
        mat-button
        type="button"
        (click)="loadMore(20)"
        [disabled]="loading$ | async"
      >
        <span *ngIf="loading$ | async; else loadMoreLabel">
          <!-- Loading 20 more... -->

          <mat-spinner [diameter]="20" class="btn-spinner"></mat-spinner>
        </span>

        <ng-template #loadMoreLabel>+20</ng-template>
      </button>

      <button
        mat-icon-button
        [matMenuTriggerFor]="loadMoreMore"
        aria-label="Sub select"
        [disabled]="loading$ | async"
      >
        <mat-icon>expand_more</mat-icon>
      </button>

      <mat-menu #loadMoreMore="matMenu">
        <button
          mat-menu-item
          type="button"
          (click)="loadMore(50)"
          [disabled]="loading$ | async"
        >
          +50
        </button>
        <button
          mat-menu-item
          type="button"
          (click)="loadMore(100)"
          [disabled]="loading$ | async"
        >
          +100
        </button>
        <button
          mat-menu-item
          type="button"
          (click)="loadMore(500)"
          [disabled]="loading$ | async"
        >
          +500
        </button>
      </mat-menu>
    </section>

    <section mat-card-subtitle class="children-meta">
      <span
        class="counter"
        *ngIf="children.length && item.numDescendants != children.length"
      >
        Loaded {{ children.length || "" }} direct children of {{ item.rank }}
        {{ item.scientificName }}
        <span class="has-more" *ngIf="!(childrenEndOfRecords$ | async)">
          (has more)
        </span>
      </span>
    </section>
  </div>

  <ng-template #isLeaf>
    Has no children.
    <!-- <i>
      This is a leaf in the tree of life's description in gbif.org database.
    </i> -->
  </ng-template>
</ng-container>
