ul {
  list-style: none;
  margin-top: 1ex;
}

li.loading .spinner {
  margin: auto; /* aka center */
}

.btn-spinner {
  display: inline-block;
}

.children-meta {
  padding: 0 1ex;
  color: silver;
  display: inline-block;
  background-color: rgba(192, 192, 192, 0.1);
}

.meta-actions {
  padding-bottom: 0px;
  text-align: center;
}

.children-meta {
  display: block;
}

@media (min-width: 400px) {
  .child .children-meta,
  .child .children {
    margin-left: 2em;
  }
}
