/* You can add global styles to this file, and also import other style files */
// @import "~normalize.css";

// html {
//   font-family: Arial, Helvetica, sans-serif;
// }

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a,
button,
.pointer {
  cursor: pointer;
}

.formatted {
  white-space: pre-wrap;
}

.center {
  text-align: center;
}

.rank {
  font-size: 50%;
  font-weight: normal;
  color: silver;
}

.zoom-in {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
