<mat-card>
  <mat-card-title>This is very much a work-in-progress.</mat-card-title>

  <!-- <mat-card-divider></mat-card-divider> -->

  <mat-card-title>Quick access</mat-card-title>

  <mat-card-content>
    <mat-divider inset></mat-divider>
  </mat-card-content>

  <mat-card-subtitle> National Library of Medicine (USA) </mat-card-subtitle>

  <mat-card-actions>
    <button mat-button type="button" [routerLink]="['/nlm/tax/node/4107']">
      Tomato [Genus]
    </button>
    <button mat-button type="button" [routerLink]="['/nlm/tax/node/49274']">
      Tomato [SubGenus]
    </button>
    <button mat-button type="button" [routerLink]="['/nlm/tax/node/39173']">
      Basil
    </button>
  </mat-card-actions>

  <mat-card-content>
    <mat-divider inset></mat-divider>
  </mat-card-content>

  <mat-card-subtitle> Gbif </mat-card-subtitle>

  <mat-card-actions>
    <button
      mat-button
      type="button"
      [routerLink]="['/gbif/species/2928997']"
      title="Solanum L. GENUS"
    >
      Nightshade [Genus]
    </button>
  </mat-card-actions>
</mat-card>
