<ng-container *ngIf="descriptions$ | async as descriptions">
  <mat-spinner
    [diameter]="20"
    *ngIf="loading$ | async; else loaded"
  ></mat-spinner>
  <ng-template #loaded>
    <dl *ngIf="descriptions.length > 0">
      <ng-container *ngFor="let description of descriptions">
        <mat-divider></mat-divider>

        <dt mat-card-subtitle style="padding-top: 1ex">
          {{ description.type }}
        </dt>
        <dd>
          <div
            class="formatted"
            mat-card-content
            [innerHtml]="description.description"
          ></div>

          <p class="source">Source: {{ description.source }}</p>
        </dd>
      </ng-container>
    </dl>
    <ng-container *ngIf="descriptions.length === 0">
      <p>No description</p>
    </ng-container>
  </ng-template>
</ng-container>
